

h3 {
  font-family: lato;
  font-weight: 600;
  margin: 20px auto 10px auto;
  color: white;
}

.carousel-item {
  
  cursor: -webkit-grabbing;
}
.carousel-item img {
  object-fit: cover;
  transition: 0.25s linear;
}


.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9 ;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  top: 30px;
}
.carousel-indicators li.active {
  background: rgb(0, 0, 0)!important;
}

@media only screen and (max-width: 650px) {
  .carousel-item img {
    height: auto;
  }
}
.carousel-control-prev {
  left: -50px;
  margin: 0 -25px;
}

.carousel-control-next {
  right: -50px;
  margin: 0 -25px;
}